CREATE DATABASE BD_Allan



CREATE TABLE PartidosPoliticos (
ID_Partido INT PRIMARY KEY IDENTITY(1,1),
NombrePartido VARCHAR(10) CHECK (NombrePartido IN ('PLN', 'PUSC', 'PAC'))
)

CREATE TABLE Encuestas (
NumeroEncuesta INT PRIMARY KEY IDENTITY(1,1),
Fecha_Nacimiento INT CHECK (Fecha_Nacimiento > 18 AND Fecha_Nacimiento < 50),
    CorreoElectronico VARCHAR(100) CHECK (CorreoElectronico LIKE '%@%.%'),
    NombreParticipante VARCHAR(50) NOT NULL,
    ID_Partido INT FOREIGN KEY REFERENCES PartidosPoliticos(ID_Partido)
)




CREATE PROCEDURE AgregarEncuesta
    @Fecha_Nacimiento INT,
    @CorreoElectronico VARCHAR(100),
    @NombreParticipante VARCHAR(50),
    @ID_Partido INT
AS
BEGIN
    DECLARE @NumeroEncuesta INT;

    
    INSERT INTO Encuestas (Fecha_Nacimiento, CorreoElectronico, NombreParticipante, ID_Partido)
    VALUES (@Fecha_Nacimiento, @CorreoElectronico, @NombreParticipante, @ID_Partido);

    
    SET @NumeroEncuesta = SCOPE_IDENTITY();

    SELECT @NumeroEncuesta AS NumeroEncuesta;
END